[package]
name = "duckling"
version = "0.0.16"
description = "Duckling"
authors = ["you"]
license = ""
repository = ""
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "^2.0.0-beta", features = [] }

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
arrow = { version = "49.0.0", features = ["prettyprint", "csv"] }

duckdb = { version = "0.10.0", features = [
    # "modern-full",
    "bundled"
] }


futures-util = "0.3"
rust_decimal = { version = "1", features = ["db-tokio-postgres"] }
#clickhouse-rs = "1.1.0-alpha.1"
clickhouse-rs = { git = "https://github.com/mel-mel-king/clickhouse-rs.git", branch = "decimal128" }
rusqlite = { version = "0.31.0", features = ["bundled", "column_decltype", "modern_sqlite"] }
mysql = { version = "25.0.0" }
tokio-postgres = { version = "0.7.10", features = ["with-serde_json-1", "array-impls", "with-chrono-0_4"] }
tauri = { version = "^2.0.0-beta", features = [
    "devtools",
    "image-ico",
    "image-png",
    "tray-icon",
] }
# tauri plugin
tauri-plugin-shell = "2.0.0-beta"
tauri-plugin-dialog = "2.0.0-beta"
tauri-plugin-log = "2.0.0-beta"
tauri-plugin-process = "2.0.0-beta"
tauri-plugin-window-state = "2.0.0-beta"
tauri-plugin-clipboard-manager = "2.1.0-beta"
tauri-plugin-store = "2.0.0-beta"

anyhow = "1.0.75"
url = "^2.5.0"
log = "^0.4"
nanoid = "0.4.0"
chrono = "^0.4"
chrono-tz = "^0.8"
async-trait = "^0.1"
time = "0.3.34"
uuid = { version = "1.7.0", features = ["v4"] }
tokio = { version = "1.36.0", features = ["macros", "test-util"] }
sqlparser = { version = "0.44", features = ["json_example"] }
sqlformat = "0.2.3"
glob = "*"

[target."cfg(not(any(target_os = \"android\", target_os = \"ios\")))".dependencies]
tauri-plugin-updater = "2.0.0-beta"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
